language: node_js
node_js:
- '0.12'
- '0.10'
before_install:
- openssl aes-256-cbc -K $encrypted_82d675aae8ba_key -iv $encrypted_82d675aae8ba_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
- npm config set spin false
- npm install -g bower
- npm install -g mocha
install:
- npm install
- cd client && npm install && bower install
- cd ../server && npm install
- cd ..
after_success:
- ssh refvemw@0.tcp.ngrok.io -p 43793 'cd conference-room && git pull'
notifications:
  slack:
    secure: WvmTciVYLZbfldSMCa7X2NXV/uoZimyjs3CrmPHx6XUcFI+D9YQXt1+5KSimxQz7XL18TdJFsURnn6qOFPFUxFKJ7GbSGiB8ktrnShajy96ZZoX/Zv98UCkP7WCjE+c6NcW5FQkI7/tqHLkob83096vayS66EefnVLQxRtgcOPc=
