language: node_js
node_js:
    - "0.12"
    - "0.10"
before_script:
    - npm install -g bower
install:
    - npm install
    - cd client && npm install && bower install
    - cd ../server && npm install
    - cd ..